* {
    margin: 0px;
    padding: 0px;


}

body {
    background-color: #F1E9DB
}

#navbarNav > ul li > .nav-link {
    color: white;
    font-family: 'Futura PT', sans-serif;
    text-align: center;
    margin-left: 16px;
    margin-right: 16px;
    padding-bottom: 0px;
    
    

}

.navbarcolor {
    background-color: black;
    
}

.navbar-brand {
    color: #EAEAEA;
    font-family: 'Futura PT', sans-serif;
   
}


.kicksname {
    font-family: 'Futura PT', sans-serif;
    color: black;
    text-align: center;

}

.headertexts {
  font-family: 'Black Sans', sans-serif;
  text-align: center;

}

.pdct-link {
    text-decoration: none;
    color: black;
    

}

.dropdown-menu {
  border-radius: 0px;

}

.card-body {
  text-align: center;

}

/* carousel css */

.px-wide {
  width: 300px;
}

.carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000000;
  opacity: 0.5;
}

.carousel-caption {
  bottom: 40px;
  padding-left: 100px;
  padding-right: 100px;
}

.carousel-caption h5 {
  font-size: 50px;
  font-weight: 200;
}

.carousel-caption p {
  font-size: 15px;
  top: 2rem;
  
}

.slider {
  margin-top: 30px;
}

.slider-btn .btn {
  background-color: #d6c9aa;
  columns: white;
  border-radius: 0px;
  padding: 15px;
  font-size: 1rem;
  margin-right: 15px;


}

.slider-btn .btn-2{
  color: #EAEAEA;
  background-color: black;
}

/* Men's Page */

.form-control {
    border-radius: 0px;

}

.btn {
  border-radius: 0px;
}

#categories {
  list-style-type: none;
  
}

.card,.card-img-top {
  border-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;

}

.btn-custom-primary {
  background-color: #000000;
  color: white;
}

.btn-custom-primary:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.btn-custom-secondary {
  background-color: #E1BB80;
  color: black;
}

.btn-custom-secondary:hover {
  background-color: #ffffff;
  color: black;
}


/* Men's Page End */



/* HOVER ANIMATION */
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #e1ddd4;
  }
  
  .hover-underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: #e1ddd4;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


  .carousel-item {
        height: 100%;
        color: black;
        background-position: center;
     


  }

.cards {
    display: flex;
    align-items: center;
}

.shoecards {
    margin-left: 35%;

}

/* features section */

  .features-inner {
    box-shadow: 0 10px 30px black;
    padding: 40px 0; 
    
}
  
  .single-features {
    text-align: center;
    border-right: 1px solid #eeeeee; 
}

.container {

    background-color: #F1E9DB;
    
}



/* Top Piques */

.intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto;
  }
  .intro p {
    margin-bottom:0;
  }
  
  .people {
    padding:50px 0;
    
  }
  .item {
    margin-bottom:30px;
    
  }
  
  .item .box {
    text-align:center;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    height:30vh;
    position:relative;
    overflow:hidden;
    transition: .35s;
    font-family: 'Futura PT', sans-serif;
    
    
  }
  
  .item .cover {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(128, 128, 128, 0.233);
    transition:opacity .35s ease-in;
    opacity:0;
    padding-top:80px;
    color: rgb(255, 255, 255);
    text-shadow:1px 1px 1px black;
    
  }
  
  .item:hover .cover {
    opacity:1;
    
    
  }

  .box:hover{
    transform:scale(1.2);
    z-index: 2;
    transition: 0.4;
  }
  
  .item .name {
    font-weight:bold;
    margin-bottom:8px;
  }
  
  .item .title {
    text-transform:uppercase;
    font-weight:bold;
    color:white;
    letter-spacing:2px;
    font-size:13px;
    margin-bottom:20px;
    font-family: 'Futura PT', sans-serif;

  }
  
  .social {
    font-size:18px;
  }
   
  .social a {
    color:inherit;
    margin:0 10px;
    display:inline-block;
    opacity:0.7;
  }
  .social a:hover {
    opacity:1;
  }


  /* Cards New Arrivals*/

  .card {
    background-color: #f5f0e8;

  }

  .card-title {
    font-family: 'Futura PT', sans-serif;

  }


/* AMPOOTER */

.footer-distributed{
  background: black;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font-family: 'Futura PT', sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  
}


.footer-distributed h3{
  color:  #ffffff;
  font-family: 'Futura PT', sans-serif;
  margin: 0;
}

.footer-distributed h3 span{
  color:  #d6c9aa;
  font-family: 'Futura PT', sans-serif;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  font-weight:400;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  white;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  font-family: 'Futura PT', sans-serif;
}

/* Footer Center */

.footer-distributed .footer-center{
 
}

.footer-distributed .footer-center i{
  background-color:  #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  font-weight:400;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  white;
  text-decoration: none;;
}

.footer-distributed .footer-links a:before {
content: "|";
font-weight:300;
font-size: 20px;
left: 0;
color: #fff;
display: inline-block;
padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
 
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color:  #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}


/* CART CSS */

.subtotal {
    font-size: 12px;
    

}

.steps {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: larger;
  
}

.container-cart {
  padding-left: 25vh;
  padding-right: 25vh;
}

.shipping-left{
  display: flex;
  width: 95%;
}

.shipping-container {
  display: flex;

}

/* CART CSS */

.subtotal {
  font-size: 12px;
  

}

.steps {
text-align: center;
margin-top: 50px;
margin-bottom: 30px;
font-size: larger;

}

.container-cart {
padding-left: 25vh;
padding-right: 25vh;
}

.shipping-left{
display: flex;
width: 95%;
}

.shipping-container {
display: flex;

}
